html,
body {
    height: 100%;
    overflow: hidden;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.content {
    border-radius: 20px;
    background: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    width: 900px;
    min-height: 100%;
    margin: auto;
    box-shadow: 0px 5px 20px 5px #d5d5d8;

}

.content h2 {
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.metric {
    background-color: rgb(245, 245, 245);
    margin: 10px 0 0 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.2px;
    color: #222222;
    font-size: 13px;
    width: 100%;
    display: inline-block;

}


label {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: -0.2px;
    font-size: 24px;
    font-weight: normal;
    color: #222;
    margin-top: 5px;
    padding-left: 150px;
    display: inline-block;
}

input {
    border: 1px solid #CCD0D3;
    font-family: 'Open Sans', sans-serif;
    width: 175px !important;
    font-size: 25px;
    padding: 5px 0px 5px 4px;
    margin: 0 140px 0 0px;
    float: right;
}