<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mass</title>
</head>
<body>
<h2>Mass</h2>

<div>
    <label>Milligramm</label><input id="Milligramm" type="text">
</div>
<div>
    <label>Gramm</label><input id="Gramm" type="text">
</div>
<div>
    <label>Kilogramm</label><input id="Kilogramm" type="text">
</div>
<div>
    <label>Centner</label><input id="Centner" type="text">
</div>
<div>
    <label>Tonn</label><input id="Tonn" type="text">
</div>

<script type="text/javascript" src="static/js/mass/Milligramm.js"></script>
<script type="text/javascript" src="static/js/mass/Gramm.js"></script>
<script type="text/javascript" src="static/js/mass/Kilogramm.js"></script>
<script type="text/javascript" src="static/js/mass/Centner.js"></script>
<script type="text/javascript" src="static/js/mass/Tonn.js"></script>
</body>

</html>