<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Temperature</title>
</head>
<body>
<h2>Temperature</h2>

<div>
    <label>Celsius</label><input id="Celsius" type="text">
</div>
<div>
    <label>Fahrenheit</label><input id="fahrenheit" type="text">
</div>
<div>
    <label>Kelvin</label><input id="Kelvin" type="text">
</div>

<script type="text/javascript" src="static/js/temperature/Celsius.js"></script>
<script type="text/javascript" src="static/js/temperature/Fahrenheit.js"></script>
<script type="text/javascript" src="static/js/temperature/Kelvin.js"></script>
</body>

</html>