<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css", href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <title>Temperature</title>
</head>
<body>
<div class="content">
<h2>Temperature</h2>
{% for m in metrics %}
<div class='metric'>
    <label>{{ m.name }}</label><input id="{{m.name}}"type="text">
</div>
{% endfor %}
</div>

{% for m in metrics %}
<script type="text/javascript" src="static/js/temperature/{{m.name}}.js"></script>
{% endfor %}
</body>

</html>