<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css", href="{{ url_for('static', filename='css/styles.css')}}" rel="stylesheet" />
    <title>Temperature</title>
</head>
<body>
<div class="content">
<h2>Temperature</h2>
{% for m in metrics %}
<div class='metric'>
    <label>{{ m.name }}</label><input id="{{m.name}}"type="text">
</div>
{% endfor %}
</div>

<script type="text/javascript" src="static/js/temperature/Celsius.js"></script>
<script type="text/javascript" src="static/js/temperature/Fahrenheit.js"></script>
<script type="text/javascript" src="static/js/temperature/Kelvin.js"></script>
</body>

</html>