<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time</title>
</head>
<body>
<h2>Time</h2>

<div>
    <label>Millisecond</label><input id="Millisecond" type="text">
</div>
<div>
    <label>Second</label><input id="Second" type="text">
</div>
<div>
    <label>Minute</label><input id="Minute" type="text">
</div>
<div>
    <label>Hour</label><input id="Hour" type="text">
</div>


<script type="text/javascript" src="static/js/time/Millisecond.js"></script>
<script type="text/javascript" src="static/js/time/Second.js"></script>
<script type="text/javascript" src="static/js/time/Minute.js"></script>
<script type="text/javascript" src="static/js/time/Hour.js"></script>
</body>

</html>